@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mallanna&family=Noto+Sans+TC:wght@100..900&display=swap');
/* utf8一定要在行數1 */
/* import 一定要在第二行 */

/* 顏色設定(設定變數) */
:root {
    /* 灰階 */
    --black: #000000;
    --darkgrey: rgb(44, 44, 44);
    --lightgrey: rgb(88, 88, 88);
    --white: #ffffff;

    /* 主色 */
    --primary: #155569;

    /* 透明 */
    --alpha-w-40: rgba(255, 255, 255, .4);
    --alpha-w-60: rgba(255, 255, 255, .6);
    --alpha-w-80: rgba(255, 255, 255, .8);
    --alpha-b-20: rgba(0, 0, 0, .2);
    --alpha-b-40: rgba(0, 0, 0, 0.4);
    --alpha-b-60: rgba(0, 0, 0, 0.6);
    --alpha-lg-10: rgba(88, 88, 88, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加padding */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    color: #444;
    display: block;
    /* 預設inline行內元素改為block */
    text-decoration: none;
}


/* 內文區 */
/* 設定整個佈局 */
/* 頁面樣式 */
main {
    display: flex;
    justify-content: center;
}

.forum-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.forum-container {
    display: flex;
    width: 80%;
    max-width: 1140px;
    margin-top: 20px;
    padding: 20px;
}

/* 左側 */
.left-section {
    flex: 1;
    width: 20%;
    max-width: 220px;
    margin-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.categories .category.active,
.tags .tag.active {
    background-color: #155569;
    color: #ffffff;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.categories .category {
    padding: 5px 15px 5px 18px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #155569;
    transition: all .2s ease-in-out;
}

.categories .category:hover {
    border: 1px solid #155569;
}

.tags {
    margin-top: 3rem;
}

#tagTitle {
    font-size: 1.1rem;
    width: 120px;
    border-bottom: 1px solid var(--darkgrey);
    padding-bottom: 5px;
    margin-bottom: 10px;
    pointer-events: none;
}

.tags .tag {
    color: #000000;
    font-size: 1rem;
    padding: 7.5px 0;
    cursor: pointer;
}

/* 右側 */

.right-section {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    border-radius: 10px;
    background-color: #ffffff;
    width: 80%;
    max-width: 900px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    padding: 2rem 0;
}

.Atc_content {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
}

.Atc_content .hidden {
    display: none;
}



.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#load-more {
    display: block;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: #155569;
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    max-width: 830px;
    transition: .2s ease-in-out;
}

#load-more:hover {
    opacity: .8;
}


/* 卡片內容 */
.article {
    width: 90%;
    height: 100%;
    height: 180px;
    background-color: #ffffff;
    border-bottom: 1px solid #5858585b;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .1s ease-in;
    gap: 200px;
    margin-bottom: 10px;
}

.article:hover {
    scale: 0.995;
}

.picture {
    height: 100%;
    width: 100%;
    display: flex;
}

.picture img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    align-self: center;
}

.text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    line-height: 0;
    letter-spacing: 1px;
}

.user {
    width: 100%;
    min-width: 300px;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.user figure {
    width: 25px;
    height: 25px;
}

.user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 99px;
}

.user h2 {
    font-size: 1rem;
}

.user small {
    margin-left: 20px;
}

#article_title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 8px;
    line-height: 1.2;
}

#hashtag {
    margin-top: 4px;
    margin-left: 8px;
    margin-bottom: 6px;
    color: var(--darkgrey);
}

#hashtag small {
    margin-right: 8px;
    font-size: .85rem;
    line-height: 1;
}

.text p {
    line-height: 120%;
    font-size: .95rem;
    margin-left: 8px;
    font-weight: 500;
    color: var(--darkgrey);
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#like {
    width: 60%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
    margin-top: 8px;
}

#like p {
    font-size: .9rem;
    font-weight: 600;
    color: var(--primary);
}

#heart_img,
#bookMark_img {
    cursor: pointer;
    transition: .25s ease-in-out;
}

#heart_img:hover,
#bookMark_img:hover {
    opacity: 60%;
}

#heart,
#comment,
#bookMark {
    display: flex;
    justify-content: center;
    align-items: center;
}

#like img {
    width: 18px;
    height: 18px;
    margin-right: 3px;
}


/* 文章內頁 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: opacity .8s ease;
    align-items: center;
    justify-content: center;
}

.content {
    position: fixed;
    top: 10%;
    border-radius: 10px;
    background-color: #F5F5F5;
    width: 800px;
    height: 80vh;
    padding: 10px 20px;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    transition: opacity .3s ease;
    overflow-y: scroll;
    border-right: solid 10px transparent;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
}

@media (max-width:1350px) {
    .content {
        width: 600px;
    }
}

/* Chrome, Edge, and Safari */
.content::-webkit-scrollbar {
    width: 5px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #828282;
}

.content::-webkit-scrollbar-track {
    border-radius: 99px;
    margin: 50px 0;
}

.content::-webkit-scrollbar-button {
    display: none;
}

.closebtn img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 0px;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
    transition: .25s ease-in-out;
}

.closebtn img:hover {
    opacity: 60%;
}

.content_user {
    width: 100%;
    max-width: 500px;
    margin-top: 25px;
    margin-left: 8px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.content_user figure {
    width: 32px;
    height: 32px;
}

.content_user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 99px;
}

.content_user h2 {
    font-size: 1rem;
    font-weight: 500;
}

.content_user small {
    font-size: .9rem;
    font-weight: 400;
    margin-left: 20px;
}

.content h1 {
    margin-top: 14px;
    font-weight: 500;
    margin-left: 8px;
    font-size: 1.6rem;
}

#p {
    width: 95%;
    font-size: 1rem;
    margin-top: 15px;
    line-height: 2rem;
}

.content #like {
    margin-top: 20px;
    width: 100%;
    max-width: 250px;
}

#like p{
    font-size: .9rem;
    margin-left: 4px;
}

.content .padding {
    padding-left: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.content hr {
    width: 100%;
}


/* 評論區 */
.comment-section {
    margin-top: 20px;
    width: 100%;
}

.sort-buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.sort-hot,
.sort-newest,
.sort-oldest {
    color:var(--darkgrey);
    border: solid 0.1px;
    border-radius: 10px;
    font-size: .95rem;
    font-weight: 550;
    padding: 5px 10px;
    margin-right: 8px;
    width: 100%;
    max-width: 150px;
    height: 100%;
    cursor: pointer;
    transition: .2s;
    letter-spacing: 1px;
}

.sort-button:hover {
    opacity: .7;
}

.sort-hot {
    background-color: #155569;
    color: #ffffff;
    letter-spacing: 4px;
}

/* 評論內容 */
.comment {
    padding: 0 10px;
}

.comment_user {
    width: 40%;
    min-width: 210px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment_user figure {
    width: 25px;
    height: 25px;
}

.comment_user img {
    width: 100%;
    height: 100%;
    min-width: 25px;
    object-fit: cover;
    border-radius: 99px;
}

.comment_user h2 {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 450;
    white-space: nowrap;
}

.comment_user small {
    margin-left: 15px;
    font-size: .9rem;
    font-weight: 500;
    color: var(--lightgrey);
    white-space: nowrap;
}

.comment p {
    margin-top: 15px;
    margin-left: 8px;
}

.comment #like {
    width: 100%;
    margin-top: 20px;
    justify-content: flex-start;
    gap: 20px;
}

.comment #heart_num,
.comment #comment_num {
    margin: 0;
    margin-left: 4px;
}

.comment #like small {
    cursor: pointer;
    white-space: nowrap;
}

.comment hr {
    margin-top: 10px;
    width: 100%;
}